<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="BHXHEntities" connectionString="metadata=res://*/BHXH.csdl|res://*/BHXH.ssdl|res://*/BHXH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.48.240.2;initial catalog=BHXH;persist security info=True;user id=namdm;password=nam!234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>