<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BHXHEntities" connectionString="metadata=res://*/BHXH.csdl|res://*/BHXH.ssdl|res://*/BHXH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cntt3;initial catalog=BHXH;persist security info=True;user id=sa;password=muathu@04;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>